NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:3000

AUTH_SERVICE_URL=http://localhost:4001
ATTRACTIONS_SERVICE_URL=http://localhost:4002
ENGAGEMENT_SERVICE_URL=http://localhost:4003
NOTIFICATION_SERVICE_URL=http://localhost:4004
ITINERARY_SERVICE_URL=http://localhost:4005
SEARCH_SERVICE_URL=http://localhost:4006
BOOKING_SERVICE_URL=http://localhost:4007

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=600
